{% render "partials/head.liquid" %} {% render
'partials/header.liquid'%}
<body>
  {% render 'partials/hero.liquid'%} {% render 'partials/categories.liquid',
  categories: categories %}



  <div class="webinars-container">
    {% if hasWebinars %} {% for webinar in webinars %}
    <article class="webinar-card">
<fig class="webinar-thumbnail-container">
  <img
    src="https://fdnd-agency.directus.app/assets/{{ webinar.thumbnail }}"
    alt="An image that shows the webinar thumbnail."
    class="webinar-thumbnail"
  />
  <figcaption>
    <span class="webinar-duration">{{ webinar.duration }}</span>
  </figcaption>
</fig>

      <section class="webinar-content">
        <h3 class="webinar-title">{{ webinar.title }}</h3>

        <div class="speakers">
          {% for speaker in webinar.speakers %}
          <h4 class="webinar-speakers-name">
            {{ speaker.avl_speakers_id.fullname }}
          </h4>
          {% endfor %}
        </div>

        <div class="btn-wrapper">
          <div class="categories">
            {% for category in webinar.categories %}
            <p class="categorie-box">{{ category.avl_categories_id.name }}</p>
            {% endfor %}
          </div>

          <form action="/bookmark" method="post" class="bookmark-form">
            <input type="text" value="{{ webinar.id }}" name="id" hidden />
            <input type="text" value="Jane Doe" name="name" hidden />
            <button type="submit" class="bookmark-button">
              {% if webinar.id in bookmarkedWebinarsSet %}
              <img
                src=" /assets/Vector (10).svg"
                alt="Bookmarked"
                class="bookmark-icon"
              />
              {% else %}
              <img
                src="/assets/Vector (10).svg"
                alt="Bookmark"
                class="bookmark-icon"
              />
              {% endif %}
            </button>
          </form>
        </div>
      </section>
    </article>
    {% endfor %} {% else %}
    <p class="empty-state-message">No webinars available in this category.</p>
    {% endif %}
  </div>
</body>
